.link {
  border-radius: 0rem;
  font-size: 0.775rem;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 0.875rem 2rem;
  width: 100%;

  // background-image: linear-gradient(to top, #92a590, #2ff71d44);
}
