.ul {
  position: absolute;
  top: 0;
  left: 100%;

  width: 13.25rem;
  // min-height: 3rem;
  background-color: black;
  padding: 0.5rem;
  margin-left: 1rem;
}

.item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;

  border: 2px solid #fff;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.photo {
  border: 2px solid #fff;
  border-radius: 0.25rem;
  display: block;
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.btn {
  background-color: transparent;
  color: #fff;
  font-size: 1.125rem;
}
