.main {
  position: relative;
  width: 100%;
  height: 30rem;
  min-height: 100vh;
  // display: flex;

  background-color: #335330;
  // padding-top: 3rem;
}

.map {
  // flex: 1;
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

// #map {
//   display: block;
//   width: 100%;
//   height: 100%;
//   z-index: 50;
// }
