.fragmentMap {
  display: flex;
  padding: 0.5rem;
}

.photo {
  height: 3.75rem;
  width: 3.75rem;
  border: 2px solid #fff;
  border-radius: 0.25rem;
  margin-right: 0.5rem;

  & > img {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.title {
  font-size: 1.1rem;
  padding: 0.25rem;
  letter-spacing: 1px;
  line-height: 1;
}
