.list {
  display: flex;
  gap: 0.75rem;
  position: absolute;
  bottom: 0;
  left: 100%;
  padding: 0.66rem;
  margin: 0 1rem;

  background-color: #335330d3;
  border-radius: 0.25rem;
}

.item {
  height: 3.75rem;
  width: 3.75rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 0.25rem;
  overflow: hidden;

  opacity: 0.66;

  transition: opacity 0.2s;

  & > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.active {
  opacity: 1;
}
