.item {
  overflow: hidden;
  flex: none;
  // border: 1px solid #335330;
  box-shadow: rgba(0, 0, 0, 0.25) 4px 2px 2px, rgb(51, 51, 51) 0px 0px 0px 0px;
  border-radius: 0.33rem;
}

.active {
  display: block;
  flex: 1;
  display: flex;
  flex-direction: column;

  & > button {
    opacity: 1;
  }
}

.overflow {
  height: calc(100% - 2.775rem);
  background-color: #335330;
}

.content {
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 0.75rem 0.5rem;
}
