:root {
  --gap-h: 0.25rem;
  --li-width: 14rem;
}

.sidebar {
  height: calc(100% - (var(--gap-h) * 2) - 3rem);
  left: var(--gap-h);
  margin: var(--gap-h) 0;
  position: absolute;
  top: 3rem;
  z-index: 100;

  display: flex;

  // transition: transform 0.25s;
  transition: left 0.25s;
}

.hidden {
  // transform: translateX(calc(-1 * var(--li-width) - 0.25rem));
  left: calc(-1 * var(--li-width) - var(--gap-h));
}

.li {
  display: flex;
  flex-direction: column;
  gap: var(--gap-h);
  height: 100%;
  width: var(--li-width);
}

.link {
  border-radius: 0rem;
  font-size: 0.825rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.875rem 2.5rem;
  width: 100%;
}
