.sidebar {
  border: 0.33rem solid transparent;
  flex: 1;

  overflow: hidden;
  // text-align: center;
}

.features {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.link {
  width: calc(100%);

  font-size: 1.075rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.feature {
  flex: 0;
}

.active__feature {
  overflow-x: auto;
  height: 100%;
  flex: 1;
}

#fragments {
  & .link {
    margin: 0.25rem 0;
  }
}
