:root {
  --gap-h: 0.25rem;
}

.sidebar {
  display: block;
  // border: 0.33rem solid transparent;
  // flex: 1;

  // overflow: hidden;
  position: absolute;
  top: 0;
  left: var(--gap-h);
  // text-align: center;
  z-index: 100;
  height: calc(100% - (var(--gap-h) * 2));
  margin: var(--gap-h) 0;

  width: 18rem;
}

.features {
  display: flex;
  flex-direction: column;

  height: 100%;

  gap: var(--gap-h);
}

.link {
  width: calc(100%);

  font-size: 0.925rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0rem;
  padding: 0.875rem 2.5rem;
}

.feature {
  overflow-x: hidden;
  flex: none;
  border: 1px solid rgb(50, 22, 6);
  background-color: #335330;
  border-radius: 0.5rem;
}

.active__feature {
  // overflow-x: hidden;
  // background-color: #335330;
  // min-height: calc(100% - 1.075rem - 2rem - 1rem);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.overflow {
  height: 100%;
}

.content {
  // overflow-x: hidden;
  background-color: #335330;
  flex: 1;
  height: 100%;
  // height: calc(100% - var(--gap-h));
  overflow-x: auto;

  // margin-bottom: var(--gap-h);

  // border-radius: 0.5rem;

  padding: 0.33rem 0.5rem;
}

// #fragments {
//   & .link {
//     margin: var(--gap-h) 0;
//   }
// }
